.activationContainer{
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.activateBtn button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: coral;
    transition: background-color 0.3s;
    cursor: pointer;
}

.activateBtn button:hover{
    background-color: brown;
}

@media (max-width:650px) {
    .activationContainer h2{
        font-size: 16px;
    }
}

@media (max-width:400px) {
    .activationContainer h2{
        font-size: 14px;
    }
}